{% extends "layout.html" %}

{% block main %}
<div class="container">
        <form action="/post" method="post" class="admin" enctype="multipart/form-data">
            <label for="file"><img class="add" src="static/icon/add.png"></label>
            <input type="file" id="file" class="file" name="file" multiple accept="image/*">
            <div class="subcontent">
                <textarea type="text" class="title" name="title" placeholder="Title"></textarea>
                <textarea type="text" class="text" name="text" placeholder="Content"></textarea>
            </div>
            <button type="submit" id="post">Post</button>
        </form>
</div>

    {% for post in posts %}
    <div class="container ">
        <div class="flex">
            <div>
                <img src="data:image/png;base64,{{ post.image.decode() }}" id="picture" class="picture">
            </div>
            <div class="sub">
                <div>
                    <h4 class="jp">{{ post.title }}</h4>
                </div>
                <div>
                    <p class="txt">{{ post.text }}</p>
                </div>
            </div>
            <form action="/delete" method="post" class="delete">
                <button name="id" type="submit" id="delete" class="delete2" value="{{ post.id }}">X</button>
            </form>
        </div>
    </div>
    {% endfor %}
    
{% endblock %}